<h2>Gestion des Réservations</h2>
<p>Liste des réservations effectuées par les clients.</p>

<hr />

<table border="1" width="100%">
  <thead>
    <tr>
      <th>ID</th>
      <th>Trajet</th>
      <th>Numéro de place</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let r of reservations">
      <td>{{ r.id }}</td>
      <td>
        {{ r.trip.departure }} →
        {{ r.trip.destination }}
      </td>
      <td>{{ r.seat_number }}</td>
      <td>{{ r.created_at | date:'short' }}</td>
    </tr>
  </tbody>
</table>
